.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Możesz dostosować padding */
    background-color: #000000;
}

.navbar-text {
    margin: 0 20px; /* Odstęp od przycisków po lewej i prawej stronie */
    font-size: 30px;
    color: #000000;
    color: #ffffff; 
}

.primary-button {
    margin: 0 10px;
    background-color: #ffffff; /* Biały kolor tła przycisku */
    color: #000000; /* Czarny kolor tekstu przycisku */
    border: 1px solid #ffffff; /* Biała ramka wokół przycisku */
}

/* Opcjonalnie: style dla przycisku 'Wyloguj się', aby był spójny z resztą */
.auth-buttons button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}
    