.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Możesz dostosować padding */
  }
  
  .navbar-text {
    margin: 0 20px; /* Odstęp od przycisków po lewej i prawej stronie */
    font-size: 30px;
    color: #000000;
  }
  
  .primary-button {
    margin: 0 10px; /* Odstęp między przyciskami */
  }
  